body{
    background-color:bisque;
}
img{
    height:80px;
    align-content: center;
}
h1{
    color:black;
    text-align:center;
    font-size:45px;
    font-family:"broadway";
    text-shadow: white;
    letter-spacing: 3px;
    text-decoration: underline;
}
p{
    color:black;
    font-size:25px;
    /*text-indent: 30px;*/
}
h3{
    color:black;
    text-decoration: underline;
    font-size:30px;
}
a{
    color:teal;  
}
ul{
    color:black;
    list-style-type: circle;
    font-size:25px;
}
.footer{
    font-size: 20px;
}
footer{
    text-align: center;
    padding: 20px;
}
